@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Medium.woff2) format("woff2");
    font-style: normal;
    font-weight: 500;
  }

  body {
    font-family: "Roboto", "sens-serif";
    @apply bg-white text-colors  dark:text-[#E0E2E8] dark:bg-black;
  }
}

@layer utilities {
  .question {
    @apply relative flex cursor-pointer items-center p-4 px-[.7rem];
  }

  .question::after {
    @apply absolute right-[.6rem] flex size-[35px] items-center justify-center rounded-full  text-[2.2rem] leading-[0];
    content: "\002B";
    transition: 0.2s;
  }

  .question.active::after {
    content: "\005f";
    top: 0;
  }

  .answercont {
    transition: 0.3s;
    @apply max-h-0 overflow-hidden;
  }

  .answer {
    @apply pb-5 pr-5 leading-[1.5rem];
  }

  .select {
    @apply text-black dark:text-white;
  }
  .select:has(:checked:disabled) {
    @apply text-gray-400;
  }
  .select-booking:has(:checked:disabled) {
    @apply text-[#C2C7CF] dark:text-[#42474E];
  }
  .select-sort:has(:checked:disabled) {
    @apply text-[#2C1600] dark:text-[#42474E];
  }

  .tab-list {
    display: none;
    animation: vanish 0.5s;
  }

  .toggle-tab:hover svg {
    @apply rotate-90;
  }
  .toggle-tab:has(+ .flex) svg {
    @apply rotate-90;
  }

  .nav-booking:hover p {
    animation: fadeInUp 0.5s ease-in-out both;
  }

  .nav-booking:not(:hover) p {
    animation: fadeInDown 0.5s ease-in-out both;
  }

  .nav-booking-right:hover p {
    animation: fadeInLeft 0.4s ease-in-out both;
  }

  .nav-booking-right:not(:hover) p {
    animation: fadeInRight 0.4s ease-in-out both;
  }

  #animated-text {
    opacity: 0;
    transform: translateY(-20px);
    transition:
      opacity 0.9s,
      transform 0.9s;
  }

  .schools-header {
    grid-template-areas:
      "one one two"
      "three four four";
  }

  .schools-header-container {
    grid-template-areas:
      "one"
      "two"
      "three";
  }

  .banner {
    background-size: 100% 100%;
  }

  .inner-banner {
    animation: slideAndFade 5s ease-in-out infinite;
    background-image: url(/src/assets/images/transparent_no_blue_bg.png);
    height: 613px;
    background-size: 200% 60%;
    opacity: 1;
    background-position: 100% center;
    background-repeat: no-repeat;
    transition: opacity 450ms;
  }

  @media (width > 55em) {
    .schools-header-container {
      grid-template-areas:
        "one two"
        "three two";
    }
  }

  /* First text animation */
  @keyframes textFade1 {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }

    30% {
      transform: translateX(-120%);
    }

    40% {
      transform: translateX(-120%);
    }

    50% {
      transform: translateX(0);
    }

    70% {
      transform: translateX(0);
    }

    75% {
      transform: translateX(0);
    }

    85% {
      transform: translateX(0);
    }

    95% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(0);
    }
  }

  /* Second text animation with slightly delayed return */
  @keyframes textFade2 {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }

    30% {
      transform: translateX(-120%);
    }

    40% {
      transform: translateX(-120%);
    }
    50% {
      transform: translateX(-120%);
    }

    60% {
      transform: translateX(0);
    }

    75% {
      transform: translateX(0);
    }

    80% {
      transform: translateX(0);
    }

    90% {
      transform: translateX(0);
    }

    95% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes textFade3 {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-120%);
    }
    40% {
      transform: translateX(-120%);
    }

    60% {
      transform: translateX(-120%);
    }

    75% {
      transform: translateX(0);
    }

    85% {
      transform: translateX(0);
    }

    90% {
      transform: translateX(0);
    }

    95% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideAndFade {
    0% {
      background-position: 0;
      opacity: 1;
    }
    20% {
      background-position: 0;
      opacity: 1;
    }
    30% {
      background-position: 100%;
      opacity: 1;
    }

    60% {
      background-position: 100%;
      opacity: 1;
    }
    70% {
      background-position: 100%;
      opacity: 1;
    }

    75% {
      background-position: 100%;
      opacity: 0;
    }

    85% {
      background-position: 0;
      opacity: 0;
    }

    90% {
      background-position: 0;
      opacity: 1;
    }

    100% {
      background-position: 0;
      opacity: 1;
    }
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeOutUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes vanish {
    from {
      display: flex;
      opacity: 1;
    }
    to {
      display: none;
      opacity: 0;
    }
  }

  @keyframes moveTop {
    0% {
      top: 0px;
    }
    50% {
      top: 300px;
    }
    100% {
      top: 0px;
    }
  }

  @keyframes moveRight {
    0% {
      right: 19rem;
      top: -8rem;
    }

    50% {
      right: -3rem;
      top: 3rem;
      scale: 0.5;
    }

    100% {
      right: 19rem;
      top: -8rem;
    }
  }
  @keyframes moveLeft {
    0% {
      bottom: -13rem;
      right: -13rem;
    }

    50% {
      bottom: -43rem;
      right: 15rem;
      scale: 1.5;
    }

    100% {
      bottom: -13rem;
      right: -13rem;
    }
  }
}
